</div>
<footer class="footer">
  <p>
    <strong>Time tracker</strong> by <a href="https://alexcambose.ro">Alexandru Cambose</a>. The source code is
    licensed
    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
  </p>
</footer>
</body>

</html>