<% if(data.type == enums.TimeType.Pause) { %> <span class="tag is-info is-medium">Pause</span>
<% } %>
<% if(data.type == enums.TimeType.Work) { %> <span class="tag is-success is-medium">Work</span>
<% } %>
<% if(data.type == enums.TimeType.Break){  %> <span class="tag is-dark is-medium">Break</span>
<% } %>