<div class="columns">
  <div class="column is-3">
    <aside class="menu">
      <p class="menu-label">
        Days
      </p>
      <ul class="menu-list">
        {{#each days}}
        <li><a href="{{this.url}}">{{this.label}}</li></a>
        {{/each}}
      </ul>
  </div>
  <div class="column is-9">{{currentDay}}</div>
</div>