<% include ./partials/header %>
<div class="columns">
  <% include ./components/sidebar %>
  <div class="column is-9">
    <div class="columns">
      <div class="column is-4">
        <div class="box">box 1</div>
      </div>
      <div class="column is-4">
        <div class="box">box 2</div>
      </div>
      <div class="column is-4">
        <div class="box">box 3</div>
      </div>
    </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Type</th>
          <th>Started</th>
          <th>Time</th>
          <th>Length</th>
        </tr>
      </thead>
      <tbody>
        <% if(locals.currentDay) {
          locals.currentDay.forEach(function (data){%>
        <tr>
          <%=JSON.stringify(data)%>
          <td>
            <% include ./components/timeTypeTag %>
          </td>
          <td>
            <%=moment(data.startTime).format("dddd, MMMM Do YYYY, h:mm:ss a");%>
          </td>
          <td>
            <%=moment.duration(data.duration, 'milliseconds').format('h:mm:ss');%>
          </td>


        </tr>
        <% });  }else {%>
        <tr>
          <% include ./components/nodata %>
        </tr>
        <% }%>
      </tbody>
    </table>
  </div>
</div>
<% include ./partials/footer %>